## Importamos Librerias

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
filename = "D:\DataSets\CrabAge\CrabAgePrediction.csv"

In [6]:
data = pd.read_csv(filename, delimiter= ",")

## Vemos los datos en la tabla

In [7]:
data.head(10)

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,F,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181,9
1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6
5,F,1.5500,1.1625,0.3500,28.661344,13.579410,6.761356,7.229122,8
6,F,1.3000,1.0000,0.3250,17.704263,6.095142,5.854172,4.819415,15
7,M,1.3250,1.0125,0.3750,23.572609,9.979024,5.301356,7.158249,10
8,I,1.5875,1.2500,0.4125,42.212406,20.269893,9.766403,10.248344,13
9,I,0.9125,0.6875,0.3375,6.803880,3.061746,1.261553,2.083688,7

In [8]:
data.shape

(3893, 9)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3893 entries, 0 to 3892
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             3893 non-null   object
 1   Length          3893 non-null   float64
 2   Diameter        3893 non-null   float64
 3   Height          3893 non-null   float64
 4   Weight          3893 non-null   float64
 5   Shucked Weight  3893 non-null   float64
 6   Viscera Weight  3893 non-null   float64
 7   Shell Weight    3893 non-null   float64
 8   Age             3893 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 273.9+ KB

No hay valores NaN

## Veamos si hay valores duplicados

In [11]:
duplicados = data.duplicated()
print(duplicados)

0       False
1       False
2       False
3       False
4       False
        ...
3888    False
3889    False
3890    False
3891    False
3892    False
Length: 3893, dtype: bool

In [14]:
sum_duplicados = data.duplicated().sum()
print(sum_duplicados)

0

No hay valores duplicados

In [25]:

data[["Sex" , "Age"]]

     Sex  Age
0      F    9
1      M    6
2      I    6
3      F   10
4      I    6
...   ..  ...
3888   F    8
3889   F   10
3890   I    5
3891   I    6
3892   I    8

[3893 rows x 2 columns]